@import url(https://fonts.googleapis.com/css?family=Text+Me+One);

.accordion {
  color: #000;
  width: 100%;
}
.accordion .section {
  width: 100%;
}

.accordion .section a{
    font-family: 'Text Me One', sans-serif;
    text-decoration:none;
    color:#000;
    font-size:23px;
}

.accordion .section a:hover{
    border-bottom:1px solid #000;
}

.accordion .section input[type='radio'] {
  display: none;
}
.accordion .section input[type='radio']:checked + label:before {
  content: " ";
  position: absolute;
  border-left: 3px solid #000;
  height: 100%;
  left: 0;
}
.accordion .section input[type='radio']:checked ~ .content {
  max-height: 300px;
  opacity: 1;
  z-index: 10;
  overflow-y: auto;
}
.accordion .section label {
    font-size:25px;
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
    display: table;
    width: 100%;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.accordion .section label:before {
  content: " ";
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
}
.accordion .section label:hover {
  background: #2F8EC6;
}
.accordion .section label span {
    font-family: 'Text Me One', sans-serif;
  display: table-cell;
  vertical-align: middle;
}

.accordion .section .content {
  max-height: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  position: relative;
  overflow-y: hidden;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.left-menu {
    /*background-color: rgba( 255, 255, 255, 0.5);*/
  width: 200px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index:100;
}

.accordion {
    font-size: 14px;
    margin-top:50%;
}
.accordion .section .content {
  padding: 0 15px;
}
.accordion .section input[type='radio'] {
  display: none;
}
.accordion .section input[type='radio']:checked ~ .content {
  padding: 15px;
}

ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  padding: 10px;
}
ul li i {
  font-size: 13px;
  width: 15px;
  margin-right: 15px;
}
ul li:hover {
  cursor: pointer;
}
.logo {
    width:100%;
    height:160px;
}

.logo img{
    width:50%;
    position:absolute;
    top:6%;
    left:7%;
}

.content img{
    width:40%;
}
