@import url(https://fonts.googleapis.com/css?family=Text+Me+One);

.grid {
	display:block;
	width:80%;
	position: relative;
	padding: 1em 0 10em;
	padding-top:5%;
	margin-left:19%;
	list-style: none;
	text-align: center;
}

@media screen and (max-width:750px){
	.gird{
		display:none;
	}

	.effect-chico{
		display:none;
	}
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 4%;
	width: 20%;
	background: #2F8EC6;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	width:100%;
	/*opacity: 0.8;*/
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	font-family: 'Text Me One', sans-serif;
	font-size: 20px;
	opacity: 1;
	text-decoration:none;
	color:#fff;
}

.grid figure h2 {
	word-spacing: -0.15em;
	/*font-weight: 300;*/
}

.grid figure h2 span {
	/*font-weight: 800;*/
}

.ai-word {
	padding-top:43%;
	letter-spacing: 1px;
	font-size: 68.5%;
}

.psd-word{
	letter-spacing:1px;
	font-size:68%;
	padding-top:18%;
}

.web-word{
	letter-spacing:1px;
	font-size:68.5%;
	padding-top:50%;
}

/* Individual effects */

/*---------------*/
/***** Chico *****/
/*---------------*/

figure.effect-chico img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

figure.effect-chico:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-chico figcaption {
	padding: 3em;
}

figure.effect-chico figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

figure.effect-chico figcaption::before,
figure.effect-chico p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico figcaption::before,
figure.effect-chico a {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico h2 {
	font-family: 'Text Me One', sans-serif;
	font-size:30px;
	color:#fff;
}
.ai-text {
	font-family: 'Text Me One', sans-serif;
	font-size:30px;
	margin-top:-25%;
	margin-left:-28%;
}

.psd-text{
	font-family: 'Text Me One', sans-serif;
	font-size:30px;
	margin-top:-25%;
}

.web-text{
	font-family: 'Text Me One', sans-serif;
	font-size:30px;
	margin-top:-25%;
}

figure.effect-chico p {
	margin: 0 auto;
	max-width: 200px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-chico a {
	margin: 0 auto;
	max-width: 200px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover a {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figcaption a{
	text-decoration:none;
	font-family: 'Text Me One', sans-serif;
	font-size:25px;
	color:#2F8EC6;
	position:absolute;
	top:50%;
	left:20%;
}
